body{
  background: #8f8f8f;
}
.work-space{
  width: 1200px;
  margin: auto;
  min-height: 100%;
  background: lemonchiffon;
}
.tools-space{
  position: fixed;
  left: 0;
  background: #fff;
  width: 159px;
}
